.posts {
    padding: 0 0 12px 0;
    color: $white;

    .posts-wrap {
        background-color: $black;
        border-radius: 16px;
        margin: 0; 
        padding: 12px;
    }

    h4 {
        font-size: 18px;
        font-style: italic;
        margin-bottom: 6px;
    }

    .posts-container {
        display: flex;
        align-items: center;
        overflow: auto;
        width: calc(100vw - 50px);
    }
}