.post {
    width: 320px;
    min-width: 280px;
    height: 135px;
    color: $white;
    background-color: $dark-gray;
    border-radius: 16px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    margin-right: 12px;

    .post-title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h5 {
            font-size: 18px;
            margin-bottom: 6px;
        }

        .btn-close-post {
            @include button;
            @include button-transparent;
            display: inline-block;
            opacity: .7;

            svg g {
                fill: $gray;
            }
        }
    }

    .post-date {
        font-style: italic;
        font-size: 12px;
        opacity: .7;
        margin-bottom: 6px;
        text-align: right;
    }

    .post-description {
        flex-grow: 1;

        p {
            font-size: 12px;
            display: -webkit-box;
            line-clamp: 4;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.post-show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    padding: 50px;

    .post-title {
        margin-bottom: 24px;
    }

    .post-date {
        margin-bottom: 24px;
    }

    .post-description p {
        display: block;
    }
}