.password-check {
    display: flex;
    color: $white;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    
    .password-score {
        display: flex;
        flex-grow: 1;
    }

    .password-check-title {
        font-size: 12px;
        line-height: 1;
        margin-bottom: 4px;
        font-style: italic;
    }
    

    .scale {
        height: 6px;
        margin-right: 12px;
    }

    .very-weak {
        background-color: $red;
    }

    .weak {
        background-color: $orange;
    }

    .average {
        background-color: $yellow;
    }

    .good {
        background-color: $green-lime;
    }

    .great {
        background-color: $green;
    }
}